@use '/src/styles/constants/colors';

.authWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .authHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 120px;
    font-size: 22px;
    font-weight: bold;
    color: colors.$SUB_TITLE;
    text-align: center;
  }
}
