@use '../../styles/constants/colors';

.container {
  display: flex;
  flex-direction: column;
  width: 240px;

  .label {
    margin-bottom: 4px;
    font-size: 14px;
    color: colors.$SUB_TITLE;
    opacity: 0.8;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;

    .input {
      padding: 12px 8px;
      font-size: 16px;
      border: 1px solid colors.$GRAY_01;
      border-radius: 4px;

      &:focus {
        border: 1px solid colors.$THEME;
      }
    }

    > button {
    }
  }
}
