@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 12px;

  @include responsive.after('SD') {
    padding: 12px 18%;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0 24px;

    .title {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.1px;
    }
  }

  .updateTitleWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 12px 0;
  }

  .label {
    padding: 0 4px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    opacity: 0.5;
  }

  .manageSpaceMemberWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .joinCodesWrapper {
    margin: 12px 0;

    .codesWrapper {
      display: flex;
      gap: 12px;
      padding-top: 6px;

      .codeWrapper {
        display: flex;
        gap: 6px;
        padding: 8px 12px;
        border: 1px solid colors.$DIVIDE_LINE;
        border-radius: 8px;

        .code {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.5px;
        }
      }
    }
  }

  .visibilityWrapper {
    display: flex;
    gap: 24px;

    .select {
      font-weight: bold;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button {
      width: 80px;
      height: 24px;
      padding: 4px 2px;
      line-height: 16px;
      border: 1px solid colors.$BLACK;
      border-radius: 12px;
    }

    > form {
      box-sizing: border-box;
      width: 100%;
      padding: 24px 12px;

      .delete {
        color: colors.$ALERT;
        border: 1px solid colors.$ALERT;
      }

      .checkDelete {
        margin: 0 12px;
        font-size: 12px;
        color: colors.$ALERT;
      }
    }

    .exit {
      color: colors.$BLACK;
    }
  }
}
