@use '/src/styles/constants/colors';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .intro {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    background: #a2e1f8;

    .introText {
      font-size: 18px;
      font-weight: 500;
      color: colors.$BASIC_FONT;
    }

    .startLink {
      width: 100px;
      height: 36px;
      margin: 12px 0 48px;
      line-height: 36px;
      color: colors.$WHITE;
      text-align: center;
      background: colors.$THEME;
      border-radius: 18px;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    .contentSelector {
      display: flex;
      justify-content: space-between;
      padding: 0 12px;
      margin-top: 48px;

      .contentTitle {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.5px;
      }

      .switch {
        display: flex;
        gap: 8px;
        align-items: center;

        .selected {
          font-weight: bold;
        }

        .el {
          font-size: 14px;
          color: colors.$BLACK;
        }
      }
    }
  }
}
