@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;

  .content {
    display: flex;
    justify-content: space-between;
    padding: 32px 18%;
    background: colors.$BACKGROUND_GRAY;
    border-bottom: 1px solid colors.$DIVIDE_LINE;

    @include responsive.between(M, SD) {
      > div > div > a > img {
        width: 72px !important;
        height: 72px !important;
      }
    }

    .leftSection {
      display: flex;

      .info {
        display: flex;
        flex-direction: column;
        gap: 6px;
        justify-content: center;
        margin-left: 24px;

        .name {
          font-size: 24px;
          font-weight: 500;
          letter-spacing: 0.1px;
        }

        .email {
          font-size: 18px;
          letter-spacing: 0.1px;
        }
      }
    }

    .rightSection {
      display: flex;
      align-items: flex-end;

      .profileLink {
        width: 100px;
        height: 36px;
        margin: 0 12px 12px;
        line-height: 36px;
        color: colors.$WHITE;
        text-align: center;
        background: colors.$THEME;
        border-radius: 18px;

        @include responsive.between(M, SD) {
          width: 80px;
          height: 24px;
          margin: 0 12px 12px;
          font-size: 12px;
          line-height: 24px;
        }
      }
    }
  }

  .nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 12px 18%;

    .el {
      width: 100%;
      padding: 24px 0;
      color: colors.$BLACK;
      text-align: center;
      transition: color 0.3s;
    }

    .selected {
      color: colors.$THEME;
      border-bottom: 2px solid colors.$THEME;
      transition: color 0.3s;
    }
  }
}
