@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  max-height: 70vh;

  @include responsive.after('SD') {
    width: 60vw;
  }

  @include responsive.after('LD') {
    width: 40vw;
  }

  @include responsive.after('HD') {
    width: 40vw;
  }

  .title {
    font-size: 22px;
    font-weight: 500;
  }

  .noticeList {
    margin-top: 12px;
    font-size: 12px;

    @include responsive.after('SD') {
      font-size: 14px;
    }

    li {
      margin: 6px 0;

      &::before {
        color: colors.$THEME;
        content: '✲ ';
      }

      mark {
        font-weight: bold;
        background: transparent;
      }
    }
  }

  .statusWrapper {
    display: flex;
    width: 100%;

    .remainingWord {
      margin-left: auto;
      text-align: center;
    }

    .remainingExpiredTime {
      margin-left: auto;
      text-align: center;
    }
  }

  .questionWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40vh;

    .question {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 18px;

      > svg {
        position: absolute;
        top: -12px;
        left: -20px;
      }

      > span {
        width: inherit;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.3px;
      }
    }
  }

  .answer {
    width: 100%;
    padding: 4px 12px;
    overflow-y: scroll;
    background: colors.$BACKGROUND_GRAY;
    border-radius: 12px;
  }

  .bottom {
    width: inherit;
    height: 10%;

    .hintList {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      width: inherit;
      margin: 12px;

      .hint {
        padding: 6px 8px;
        font-size: 14px;
        font-weight: 500;
        color: colors.$WHITE;
        background-color: colors.$THEME;
        border-radius: 12px;
      }
    }

    .buttonWrapper {
      display: flex;
      justify-content: end;

      .nextButton {
        font-size: 14px;
      }
    }
  }
}

.beforeStart {
  gap: 6px;

  .tip {
    margin-bottom: 12px;
    font-size: 12px;
  }

  .startButton {
    font-size: 14px;
  }
}
