$THEME: #6eecc0; // TODO: 미정
$TITLE: #212529; // TODO: 미정
$CONTENT: #495057; // TODO: 미정
$SUB_TITLE: #3a3a3a;
$DIVIDE_LINE: #e7e7e7;
$BASIC_FONT: #393939;
$FOOTER: #b4b4b4;
$ALERT: #f32b2b;
$TIME_STAMP: #bebebe;

$WHITE: #ffffff;
$BLACK: #000000;
$GRAY_01: #b4b4b4;
$BACKGROUND_GRAY: #f9f9f9;
