@use '/src/styles/constants/colors';

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;

  .top {
    height: 24px;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-bottom: 1px solid colors.$DIVIDE_LINE;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 12px 0;

    .subTitle {
      padding: 0 4px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.3px;
      opacity: 0.5;
    }

    .textArea {
      box-sizing: border-box;
      width: inherit;
      padding: 8px 12px;
      font-size: 14px;
      color: colors.$SUB_TITLE;
      resize: none;
      border: 1px solid colors.$DIVIDE_LINE;
      border-radius: 12px;
    }

    .answerTextArea {
      height: 240px;
    }

    .isEmpty {
      border: 1px solid colors.$ALERT;
    }
  }

  .hintWrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: inherit;

    .hintTitle {
      font-size: 12px;
      color: colors.$SUB_TITLE;
    }

    .hintInput {
      box-sizing: border-box;
      width: 180px;
      padding: 6px 12px;
      font-size: 12px;
      color: colors.$SUB_TITLE;
      text-align: center;
      border: 1px solid colors.$DIVIDE_LINE;
      border-radius: 16px;
    }

    .hintInput::placeholder {
      font-size: 12px;
    }

    .hintList {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;

      .hint {
        padding: 6px;
        font-size: 14px;
        color: colors.$SUB_TITLE;
        border-radius: 14px;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;

    .button {
      width: 80px;
      height: 24px;
      padding: 4px 2px;
      line-height: 16px;
      border: 1px solid colors.$BLACK;
      border-radius: 12px;
    }

    .delete {
      color: colors.$ALERT;
      border: 1px solid colors.$ALERT;
    }

    .checkDelete {
      margin: 0 12px;
      font-size: 12px;
      color: colors.$ALERT;
    }

    .sideBtnWrapper {
      display: flex;
      gap: 4px;
    }
  }
}
