@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;

  .top {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px;
    background: colors.$BACKGROUND_GRAY;
    border-bottom: 1px solid colors.$DIVIDE_LINE;

    @include responsive.after('SD') {
      padding: 12px 18%;
    }

    .section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 48px 0;

      .contentWrapper {
        display: flex;
        gap: 24px;
        align-items: center;
        padding-bottom: 12px;

        .leftContent {
          display: flex;

          .image {
            display: none;

            @include responsive.after('SD') {
              display: block;
              border-radius: 24px;
            }
          }
        }

        .rightContent {
          display: flex;
          flex-direction: column;
          gap: 18px;

          .title {
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 0.1px;
          }

          .content {
            margin-bottom: 16px;
            font-size: 16px;
            color: colors.$SUB_TITLE;
          }
        }
      }

      .setting {
        width: 100px;
        height: 36px;
        margin: 0 12px 12px;
        line-height: 36px;
        color: colors.$WHITE;
        text-align: center;
        background: colors.$THEME;
        border-radius: 18px;

        @include responsive.between(M, SD) {
          width: 80px;
          height: 24px;
          margin: 0 12px 12px;
          font-size: 12px;
          line-height: 24px;
        }
      }
    }

    .status {
      display: flex;
      gap: 12px;
      padding: 16px 4px;
      border-top: 1px solid colors.$DIVIDE_LINE;

      .cntWrapper {
        display: flex;
        gap: 2px;
        align-items: center;
        color: colors.$BASIC_FONT;

        > svg {
          width: 24px;
          height: 24px;
          opacity: 0.5;
        }
      }
    }
  }

  .main {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;

    @include responsive.after('SD') {
      padding: 12px 18%;
    }

    .mainTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 12px;
      margin: 24px 0;
      border-bottom: 1px solid colors.$DIVIDE_LINE;

      .infoWrapper {
        display: flex;
        align-items: center;

        .subTitle {
          font-size: 24px;
          font-weight: bold;
          color: colors.$SUB_TITLE;
          letter-spacing: 0.3px;
        }
      }

      .playButton {
        width: 36px;
        height: 36px;
        padding: 0;
        margin-right: 12px;

        > svg {
          width: inherit;
          height: inherit;
        }
      }
    }

    .quizList {
      display: flex;
      flex-direction: column;
      gap: 36px;
    }

    .addBtn {
      min-height: 72px;
      background: colors.$BACKGROUND_GRAY;
      border: 1px solid colors.$DIVIDE_LINE2;
      border-radius: 12px;

      > svg {
        width: 24px;
        height: 24px;
      }
    }

    .refetchBtnWrapper {
      display: flex;
      justify-content: center;
      width: 100%;

      .btn {
        width: 100px;
        height: 36px;
        margin: 12px 0 48px;
        line-height: 36px;
        color: colors.$SUB_TITLE;
        text-align: center;
        background: colors.$THEME;
        border-radius: 18px;
      }
    }
  }
}
