@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.1px;
    }

    .setting {
      width: 24px;
      height: 24px;
      color: colors.$GRAY_01;

      > svg {
        width: inherit;
        height: inherit;
      }
    }
  }

  .main {
    width: 100%;
    margin: 24px 0;

    .mainTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 12px;
      margin: 24px 0;
      border-bottom: 1px solid colors.$DIVIDE_LINE;

      .infoWrapper {
        display: flex;
        align-items: center;

        .subTitle {
          font-size: 18px;
          font-weight: 600;
          color: colors.$SUB_TITLE;
          letter-spacing: 0.3px;
        }
      }

      .playButton {
        width: 36px;
        height: 36px;
        padding: 0;
        margin-right: 12px;

        > svg {
          width: inherit;
          height: inherit;
        }
      }
    }

    .quizList {
      display: grid;
      grid-template-columns: 1fr;
      gap: 24px;

      @include responsive.after('SD') {
        grid-template-columns: 1fr 1fr;
      }

      @include responsive.after('LD') {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @include responsive.after('HD') {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    .addBtn {
      min-height: 72px;
      border: 5px solid colors.$WHITE;
      border-radius: 12px;
      transition: 0.5s;

      &:hover {
        background: colors.$WHITE;
        transition: 0.5s;
      }

      > svg {
        width: 24px;
        height: 24px;
      }
    }

    .showMoreWrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 12px 0;
    }
  }
}
