@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 12px;

  .inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    max-width: 100vw;
    font-size: 16px;
    color: colors.$SUB_TITLE;

    .space {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .spaceId {
        height: 24px;
        padding: 12px;
        font-size: 14px;
        border: 1px solid colors.$DIVIDE_LINE;
        border-radius: 12px;
      }
    }

    .code {
      display: flex;
      flex-direction: column;
      gap: 12px;

      input {
        width: 32px;
      }
    }

    .button {
      height: 48px;
      background: colors.$THEME;
      border-radius: 12px;
    }
  }
}
