.layout {
  > main {
    width: 1065px;
    margin: 0 auto;
    background-color: aquamarine;

    > aside {
      width: 24%;
      height: calc(100vh - 60px);
      background-color: antiquewhite;
    }
  }
}
