.layout {
  .profileWrapper {
    display: flex;
    justify-content: end;
    padding: 12px 12px 0;

    .avatar {
      width: 36px;
      height: 36px;

      > img {
        width: inherit;
        height: inherit;
        border-radius: 18px;
      }
    }
  }
}
