@use '/src/styles/constants/colors';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  background: colors.$BACKGROUND_GRAY;
  border: 1px solid colors.$DIVIDE_LINE;
  border-radius: 8px;
  transition: 0.5s;

  &:hover {
    transition: 0.5s;
    transform: translateY(-2px) translateX(-2px);
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4px;

    .thumbnail {
      max-width: 100%;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 12px;

    .contentWrapper {
      margin: 2px 8px 24px;

      .title {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 600;
        color: colors.$TITLE;
        letter-spacing: 0.2px;
      }

      .content {
        font-size: 14px;
        color: colors.$CONTENT;
        letter-spacing: 0.2px;
      }
    }

    .mainSub {
      display: flex;
      gap: 12px;
      align-items: center;

      .timestamp {
        font-size: 12px;
        color: colors.$TIME_STAMP;
        text-align: start;
      }

      .subInfo {
        display: flex;
        gap: 4px;
        align-items: center;

        .role {
          font-size: 12px;
          font-weight: 600;
          color: colors.$SUB_TITLE;
        }

        > svg {
          width: 18px;
          height: 18px;
          color: colors.$GRAY_01;
        }
      }
    }
  }

  .isLoading {
    background: colors.$GRAY_01;

    .content {
      display: none;
    }
  }

  .status {
    display: flex;
    gap: 12px;
    padding: 10px 16px;
    border-top: 1px solid colors.$DIVIDE_LINE;

    .cntWrapper {
      display: flex;
      gap: 2px;
      align-items: center;
      color: colors.$BASIC_FONT;

      > svg {
        width: 18px;
        height: 18px;
        opacity: 0.5;
      }

      > span {
        font-size: 14px;
        font-weight: 500;
        opacity: 0.8;
      }
    }
  }
}
