@use '/src/styles/constants/colors';

.container {
  box-sizing: border-box;
  width: 200px;
  padding: 12px;
  background-color: colors.$WHITE;
  border-radius: 12px;

  .top {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid colors.$DIVIDE_LINE;

    .avatar {
      width: 36px;
      height: 36px;

      > img {
        width: inherit;
        height: inherit;
        border-radius: 18px;
      }
    }

    .aside {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: start;
      justify-content: center;
      margin-left: 8px;

      .nickname {
        font-size: 16px;
        font-weight: 600;
        color: colors.$SUB_TITLE;
        letter-spacing: 0.2px;
      }

      .timestamp {
        font-size: 12px;
        color: colors.$GRAY_01;
      }
    }
  }

  .main {
    height: 42px;
    padding: 4px;
    overflow: scroll;
    border-bottom: 1px solid colors.$DIVIDE_LINE;

    .content {
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      line-height: 4px;
      color: colors.$BASIC_FONT;
      letter-spacing: 0.2px;
    }
  }

  .status {
    display: flex;
    gap: 4px;
    padding: 12px 0 0 4px;

    .cntWrapper {
      display: flex;
      gap: 2px;
      align-items: center;
      color: colors.$BASIC_FONT;

      > svg {
        width: 18px;
        height: 18px;
        opacity: 0.5;
      }

      > span {
        font-size: 14px;
        font-weight: 500;
        opacity: 0.8;
      }
    }
  }
}
