.spaceSubTitleWrapper {
  display: flex;
  gap: 8px;
  align-items: center;

  .createSpace {
    width: 18px;
    height: 18px;
    padding: 0;

    > svg {
      width: inherit;
      height: inherit;
    }
  }
}
