.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  min-width: 40vw;
  max-width: 40vw;

  .questionWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(40vw - 40px);
    height: 40vh;

    .question {
      position: relative;
      display: flex;
      align-items: center;
      width: inherit;
      font-size: 18px;

      > svg {
        position: absolute;
        top: -12px;
        left: -20px;
      }

      > span {
        width: inherit;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.3px;
      }
    }
  }

  .bottom {
    width: inherit;
    height: 10%;

    .hintList {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      width: inherit;
      margin: 12px;

      .hint {
        padding: 6px 8px;
        font-size: 14px;
        font-weight: 500;
        background-color: #def5fa;
        border-radius: 12px;
      }
    }

    .buttonWrapper {
      display: flex;
      justify-content: end;

      .nextButton {
        font-size: 14px;
      }
    }
  }
}

.beforeStart {
  gap: 6px;

  .tip {
    margin-bottom: 12px;
    font-size: 12px;
  }

  .startButton {
    font-size: 14px;
  }
}
