@use '/src/styles/constants/colors';

.inviteForm {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  > input {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 12px;
    font-size: 14px;
    background-color: colors.$WHITE;
    border: 1px solid colors.$DIVIDE_LINE;
    border-radius: 12px;
  }

  .button {
    min-width: 100px;
  }
}
