.layoutAside {
  background-color: #f9f9f9;

  button {
    background-color: transparent;
    border: none;
  }

  .asideTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    margin: 0 24px;
    border-bottom: 1px solid #cfcfcf;

    .asideTitle {
      height: 24px;
      font-size: 16px;
      font-weight: bold;
      opacity: 0.5;
    }

    > nav {
      display: flex;
      gap: 6px;
    }

    .activeNav {
      opacity: 1;
    }

    > .addButton {
      box-sizing: content-box;
      width: 24px;
      height: 24px;
      padding: 0;
      color: #4d4c4c;
      cursor: pointer;

      > svg {
        width: inherit;
        height: inherit;
      }
    }
  }
}
