@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  max-width: 320px;
  height: 100%;
  padding: 52px 48px 36px;
  background: colors.$WHITE;
  border-radius: 8px;

  @include responsive.after('SD') {
    display: block;
  }

  .top {
    width: 100%;

    > strong {
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 0.4px;
    }

    .subTop {
      padding: 14px 0 0;
      font-size: 14px;

      > span {
        padding-right: 4px;
        letter-spacing: 0.1px;
      }

      > a {
        color: colors.$THEME;
        letter-spacing: 0.1px;
      }
    }
  }

  .oauth {
    display: flex;
    gap: 12px;
    justify-content: space-around;
    width: 100%;
    margin: 24px 0;

    .oauthBtn {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 52px;
      border-radius: 8px;
    }

    .google {
      letter-spacing: 0.1px;
      background: colors.$WHITE;
      border: 1px solid colors.$DIVIDE_LINE;
    }

    .kakao {
      letter-spacing: 0.1px;
      background: colors.$KAKAO;
      border: 1px solid colors.$KAKAO;
    }
  }

  .divideLine {
    width: 100%;
    margin: 0;
    border: 0.5px solid colors.$DIVIDE_LINE;
  }

  .inputSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 100%;
    margin: 24px 0 0;

    input {
      box-sizing: border-box;
      width: 100%;
      padding: 12px 8px;
      font-size: 15px;
      letter-spacing: 0.2px;
      background: colors.$BACKGROUND_GRAY;
      border: 0.5px solid colors.$GRAY_01;
      border-radius: 6px;

      &:focus {
        border: 0.5px solid colors.$THEME;
      }
    }
  }

  .loginAlert {
    width: 100%;
    height: 18px;
    margin: 8px 0 24px 4px;

    > span {
      margin-top: 12px;
      font-size: 12px;
      color: colors.$ALERT;
    }
  }

  .loginBtn {
    width: 100%;
    height: 46px;
    font-size: 14px;
    font-weight: bold;
    color: colors.$WHITE;
    background-color: colors.$THEME;
    border-radius: 6px;
    opacity: 1;
  }

  .signUpSpan {
    font-size: 12px;
    color: colors.$SUB_TITLE;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}
