/* 모든 요소에 box-sizing: border-box; 적용 */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overscroll-behavior: none; /* 스크롤 한계를 넘어서지 않도록 제한 */
  height: 100%;
  overflow: hidden;
}

body {
  overflow-y: auto; /* 세로 스크롤만 활성화 */
}