@use '/src/styles/constants/colors';

.container {
  box-sizing: border-box;
  width: inherit;
  height: 100%;
  padding: 12px 12px 6px;
  background-color: transparent;
  border: 1px solid colors.$DIVIDE_LINE;
  border-radius: 12px;

  .top {
    display: flex;
    width: 100%;
    height: 32px;
    padding-bottom: 4px;
    border-bottom: 1px solid colors.$DIVIDE_LINE;

    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50px;

      > img {
        width: inherit;
        height: inherit;
        border-radius: inherit;
      }
    }

    .topSide {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: start;
      justify-content: center;
      width: 100%;
      margin-left: 10px;

      .nickname {
        font-size: 14px;
        font-weight: 600;
        color: colors.$SUB_TITLE;
      }

      .timestamp {
        font-size: 10px;
        color: colors.$TIME_STAMP;
        text-align: start;
      }

      .setting {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        color: colors.$GRAY_01;

        > svg {
          width: inherit;
          height: inherit;
        }
      }
    }
  }

  .main {
    width: 100%;
    padding: 12px 4px;
    font-size: 14px;
    color: colors.$BASIC_FONT;
    text-align: start;
  }

  .bottom {
    display: flex;
    gap: 6px;

    .hintList {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      width: inherit;

      .hint {
        padding: 2px 6px;
        font-size: 12px;
        background-color: colors.$THEME; // TODO: 색 이상해
        border-radius: 12px;
      }
    }
  }
}
